@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  font-family: lato;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.875rem;
  margin: 1.125rem 5.125rem;
}

.logo-shipup {
  display: flex;
  align-items: center;
}

.logo-shipup img {
  height: 2rem;
  object-fit: contain;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1.875rem;
  align-items: center;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-menu li a:hover {
  color: #f67366;
}

.btn {
  padding: 0.9375rem;
  text-decoration: none;
  border-radius: 0.75rem;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-join {
  color: #ffffff;
  background-color: #2c2d5b;
  transition: transform 0.3s ease-in-out;
}

.btn-request {
  background-color: white;
  color: #2c2d5b;
  font-weight: bold;
  border: 0.125rem solid #2c2d5b;
}

.nav-buttons {
  display: flex;
  gap: 1.875rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4.313rem 3.125rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 2.125rem;
  gap: 3.125rem;
}

.hero-title {
  font-size: 2.5rem;
}

.hero-tittle-highlight {
  color: #f67366;
}

.hero-description {
  font-size: 0.875rem;
}

.hero-image {
  width: 100%;
}

.hero-buttons {
  display: flex;
  gap: 1.875rem;
}

.form-area {
  margin: 7.313rem;
}

.quote-form {
  display: flex;
  gap: 1.375rem;
  width: 100%;
  justify-content: center;
}

.stylized-input {
  border-radius: 0.75rem;
  border: 0.025rem solid #979797;
  padding: 1.25rem;
}

.btn-check-price {
  background-color: #2c2d5b;
  color: #ffffff;
  border: 0;
  font-weight: bolder;
  padding: 1.75rem 3.625rem;
}

.services-title {
  font-size: 1.5rem;
  margin: 3rem;
}

.services-header-highlight {
  font-weight: bold;
  border-bottom: 0.188rem solid #f67366;
}

.services-flex {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  flex-wrap: wrap;
}

.service-box {
  width: 20.625rem;
  height: 11.688rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.08);
  padding: 1.25rem;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box:hover {
  transform: translateY(-0.625rem);
  box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.service-icon {
  width: 2.188rem;
  height: 2.188rem;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.625rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.service-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.operation-mode {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.operation-mode-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.operation-mode-item-reverse {
  flex-direction: row-reverse;
}

.operation-mode-text {
  flex: 1;
  max-width: 31.25rem;
}
.step-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.step-number {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #230b34;
  color: #f8f8fa;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
}

.operation-title {
  color: #f67366;
  font-size: 1.8rem;
  margin: 0;
}

.operation-description {
  color: #4f4f4f;
  font-size: 1rem;
  line-height: 1.6;
}

.operation-mode-image {
  flex: 1;
  max-width: 31.25rem;
}

.operation-mode-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.operation-mode-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 3rem;
}

.operation-mode-header-highlight {
  font-weight: bold;
  border-bottom: 0.188rem solid #f67366;
}

.warehouse-on-site-title {
  font-size: 1.5rem;
  text-align: center;
}

.warehouse-on-site-title-highlight {
  font-weight: bold;
  border-bottom: 0.188rem solid #f67366;
}

.warehouse-map {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  margin-top: 5rem;
  padding: 0;
  display: block;
}

.warehouse-onsite-buttons {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}

.footer {
  background-color: #2c2d5b;
  color: #fff;
}

.footer-text-logo {
  color: #fff;
}

.footer-text-logo-hightlight {
  color: #f67366;
}

.footer-logo a {
  text-decoration: none;
}
